// Place all the styles related to the BookTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row-center-block {
    float: none;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
